[tool.flet.android]
package_name = "com.shrey.godjarvis.prime"
build_number = 1
permissions = [
    "INTERNET",
    "RECORD_AUDIO",
    "FOREGROUND_SERVICE",
    "WAKE_LOCK",
    "RECEIVE_BOOT_COMPLETED",
    "QUERY_ALL_PACKAGES"
]

[tool.flet.android.manifest]
"android:foregroundServiceType" = "microphone"
