name: Build Jarvis APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Install Deps
        run: pip install flet requests SpeechRecognition pyttsx3
      - name: Build APK
        run: flet build apk
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: jarvis-apk
          path: build/apk/*.apk
